


@media screen and (max-width:576px) {
    .ham-menu{
        display: block;
    }
    .nav-li {
        display: none;
    }

    .habit-img-container{
        display: flex;
        flex-direction: column;
    }
}